.navbar {
    background: #007F9D;
}

#logo{
    width: 40px;
    margin-right: 1%;
}

nav .btn{
    background-color: white !important;
    color:  #007F9D !important;
}

nav .btn:hover{
    color: white !important;
    background: #005366 !important;
    border: 1px solid white !important;

}

nav .btn:active{
    position: relative !important;
    top: 1px !important;
}

.form-inline{
    width: 40%;
}