html,
body {
    width: 100%;
}


form {
    display: block;
    margin: auto;

}

.form-contain {
    background-color: aliceblue;
    width: 90%;
    padding: 20px;
    margin: 10px;
    margin-left: 5%;
    border: 3px solid black;
    border-radius: 2%;
    position: relative;
}

.form-row {
    margin-top: 2%;

}

.form-contain h1 {
    text-align: justify;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
}


.center {
    margin: auto;
    margin-top: 1%;
}

.btn {
    background-color: #007F9D;
    color: white;
}

.btn:hover {
    color: #007F9D;
    background: white;
    border: 1px solid #007F9D;

}

.btn:active {
    position: relative;
    top: 1px;
}




.card-registry {
    position: relative;
    width: 90%;
    margin: 0% auto 1% auto;
}

.sub {
    margin: 0 2%;
    text-align: justify;
}

.card-registry .reg-element:nth-child(even)>.jumbotron {
    background: #c2e5ed;
}

.card-registry .reg-element:nth-child(odd)>.jumbotron {
    background: white;
}

.jumbotron {
    margin: 0 auto;
    padding: 0;
    border: 1px solid #007F9D;
}

.del {
    font-size: 2em;
    color: red;
}


.ed {
    position: relative;
    top: -2px;
}

.editable {
    position: absolute;
    right: 1%;
}

span.fa.bg,
span.fas.bg {
    font-size: 1.5em;

}


span.fas, span.fa {
    color: #007F9D;
}

label span.fas, label span.fa {
    color: black;
}

span.fa.in,
span.fas.in {
    display: none;
}

h4 {
    font-weight: 400;
}


.grp {
    margin-right: 3%;
}

tr {
    margin-right: 2%;
}

table {
    margin-bottom: 2%;
}

.btn {
    margin: 0 0 5% 5%;
}

.card-registry {
    margin-top: 10px;
}

#revQty{
    position: absolute;
    top: 5%;
    right: 1%;
    font-size: 14px;
}